@import url('https://fonts.googleapis.com/css?family=Ruluko');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Segoe Print');

body{
    font-family: 'Roboto', sans-serif;
}
h2#fontStyleBappeda{
    font-family: 'Segoe Print';
}
div.konten{
    background-color: yellow;
}
div.jamsekarang{
    background-color: aqua;
}
#watch {
    font-family: 'Ruluko', sans-serif;
    color: rgb(255, 229, 209);
    font-size: 2.6vw;
    -webkit-text-stroke: 3px rgb(85, 85, 85);
}
div#cardAgenda{
    border: 2px solid black;
}
li#daftarAgenda{
    background-color: aqua;
}
div#infokehadiran{
    background-color: yellow;
}
div#kontenAgendaKegiatan{
    background-color: coral;
}